{
    "extends": [
        "eslint:recommended",
        "plugin:json/recommended",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:flowtype/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/display-name": 0,
        "react-hooks/rules-of-hooks": "error",
        "complexity": ["error", { "max": 15 }]
    },
    "globals": {
        "GLOBALS": false,
        "configure": false,
        "localDevBackend": false,
        "mount": false,
        "React": false,
        "render": false,
        "shallow": false
    },
    "plugins": ["react", "flowtype", "prettier", "react-hooks"],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "es6": true,
        }
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["atoms", "./src/atoms"],
                ["theme", "./src/theme"],
                ["helpers", "./src/helpers"],
                ["consts", "./src/consts"]
            ]
        }
    }
}
