{
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.mdx",
            "options": {
                "printWidth": 80
            }
        }
    ]
}
